.fa-bars {
    color: orange;
}
.ni-collection {
    color: #0099aa;
}
.ni-shop {
    color: palevioletred;
}
.ni-book-bookmark {
    color: lime;
}
.container {
    color: white;
    background: white;
    margin-top: 50px;
    width: 100px;
    height: 50px;
    margin-left: 50px;
    float: left;
    clear: right;
    margin-right: -10px;
}
.btn-primary {
    color: white;
    background: orange;
}
.dropdown-menu {
    width: 50px;
}
.dropdown-menuLi {
    width: 50px;
    text-align: center;
    margin-left: 30px;
}
.dropdown-menuLi:hover {
    color: white;
    background: palegreen;
    width: 70px;
    height: 25px;
    cursor: pointer;
}
.add {
    color: white;
    background: #34ce57;
    width: 100px;
    height: 45px;
    float: left;
    clear: right;
    margin-top: 50px;
    margin-left: 670px;
    border-radius: 10px;
}
.fa-plus-circle {
    font-size: 15px;
    margin-right: 10px;
}
.add:hover {
    cursor: pointer;
    border: 2px solid #2aa198;
    background: white;
    color: #34ce57;
}
.table {
    margin-top: 50px;
    border: 2px solid #6db9d7;

}

















