.TieuDe {
    color: black;
    font-weight: bold;
}
.infor {
    height: 520px;
    background: white;
}
.image {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    margin-left: 100px;
}
.information4 .Modules {
    margin-right: 60px;
}
.information5 .Modules {
    margin-right: 60px;
}
.information6  {
    margin-top: 25px;
}
.information6 .Modules {
    margin-right: 10px;
    float: left;
    clear: right;
    margin-left: -305px;
}
.information6 .type2 {
    margin-left: -193px;
}
.infor2 {
    height: 760px;
    margin-bottom: 25px;
}
.information3a .Modules {
    float: left;
    clear: right;
}
.type3a {
    width: 685px;
}
.type3b {
    width: 685px;
    margin-left: 32px;
    height: 150px;
}
.checkin {
    float: left;
    clear: right;
    margin-right: 10px;
}
.From {
    margin-left: 170px;
}