body{
    margin: 0 ;
    overflow: auto;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#Thanh_cong_cu{
    background: darkturquoise;
    width: 100%;
    height: 80px;
}
#Thanh_cong_cu input[type="text"] {
    width: 500px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    outline:none;
    padding: 12px 14px;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}
#Thanh_cong_cu #Ten_Web{
    float: left;
    margin-left: 35px;
}
#Thanh_cong_cu #Tim_Kiem{
    float: left;
    margin-left: 0px;
    margin-top: 21px;
}
#Thanh_cong_cu #Hotline .fa-phone-square{
    float: left;
    font-size: 35px;
    margin-left: 45px;
    margin-top: 28px;
}
#Thanh_cong_cu #Hotline #chu_HotLine{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 100%;
}
#Thanh_cong_cu #TaiKhoan .fa-user-circle{
    float: left;
    font-size: 35px;
    margin-left: 45px;
    margin-top: 28px;
}
#Thanh_cong_cu #TaiKhoan #dangNhap_dangKy{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 100%;
}
#Thanh_cong_cu #gioHang .fa-shopping-cart{
    float: left;
    font-size: 35px;
    margin-left: 45px;
    margin-top: 28px;
}
#Thanh_cong_cu #gioHang #chu_giohang{
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 100%;
}
#trangChu_DanhMuc   {
    border: 1px solid black;
    width: 100%;
    height: 50px;
    background: lightcyan;
}
#trangChu_DanhMuc #danhMuc {
    float: left;
    clear: right;
    margin-left: 50px;
    margin-top: 4px;
}
#trangChu_DanhMuc #anh_danhMuc {
    float: left;
    clear: right;
    margin-left: 150px;
    margin-top: -11px;
    width: 50px;
    height: 45px;
}
#trangChu_DanhMuc #chu_DanhMuc {
    float: left;
    clear: right;
    margin-left: 10px;
    margin-top: 0px;
}
#trangChu_DanhMuc #trangchu {
    float: left;
    clear: right;
    margin-left: 80px;
    margin-top: -15px;
}
#trangChu_DanhMuc #heThongCuaHang {
    float: left;
    clear: right;
    margin-left: 50px;
    margin-top: -15px;
}
#trangChu_DanhMuc #tinTuc {
    float: left;
    clear: right;
    margin-left: 50px;
    margin-top: -15px;
}
#trangChu_DanhMuc #lienHe {
    float: left;
    margin-left: 50px;
    margin-top: -15px;
}
#trangKhung   {
    width: 100%;
    height: 500px;
    margin: -1px;
}

#ThanhHoTro {
    border: 1px solid black;
    margin: -4px;
    background: white;
    width: 100%;
    height: 50px;
}
#ThanhHoTro #chatLuong #anh_ChatLuong{
    float: left;
    clear: right;
    margin-left: 20px;
    margin-top: 5px;
    width: 50px;
    height: 45px;
}
#ThanhHoTro #chatLuong #bd{
    float: left;
    clear: right;
    margin-left: 20px;
    margin-top: -15px;
    margin-right: 10px;
}
#ThanhHoTro #chatLuong #sp{
    float: left;
    clear: right;
    margin-left: -158px;
    margin-top: 10px;
}
#ThanhHoTro #giaoHang #anh_GiaoHang{
    float: left;
    clear: right;
    margin-left: 150px;
    margin-top: 5px;
    width: 50px;
    height: 45px;
}
#ThanhHoTro #giaoHang #mp{
    float: left;
    clear: right;
    margin-left: 23px;
    margin-top: -15px;
    margin-right: 10px;
}
#ThanhHoTro #giaoHang #dh{
    float: left;
    clear: right;
    margin-left: -150px;
    margin-top: 10px;
}
#ThanhHoTro #hoTro #anh_HoTro{
    float: left;
    clear: right;
    margin-left: 150px;
    margin-top: 5px;
    width: 50px;
    height: 45px;
}
#ThanhHoTro #hoTro #ht{
    float: left;
    clear: right;
    margin-left: 23px;
    margin-top: -15px;
    margin-right: 10px;
}
#ThanhHoTro #hoTro #hl{
    float: left;
    clear: right;
    margin-left: -100px;
    margin-top: 10px;
}
#ThanhHoTro #doiTra #anh_DoiTro{
    float: left;
    clear: right;
    margin-left: 150px;
    margin-top: 5px;
    width: 50px;
    height: 45px;
}
#ThanhHoTro #doiTra #dt{
    float: left;
    clear: right;
    margin-left: 23px;
    margin-top: -15px;
    margin-right: 10px;
}
#ThanhHoTro #doiTra #dk{
    float: left;
    clear: right;
    margin-left: 23px;
    margin-top: -35px;
    margin-right: 10px;
}
#hinh #hinh1{
    margin-left: 210px;
    margin-right: 40px;
    margin-top: 20px;
    width: 240px;
    height: 320px;

}
#hinh #hinh2{
    margin-right: 40px;
    width: 240px;
    height: 320px;
}
#hinh #hinh3{
    margin-right: 40px;
    width: 240px;
    height: 320px;
}
#hinh #hinh4{
    margin-right: 100px;
    width: 240px;
    height: 320px;
}
#layout1 .noiDungGioHang {
    background-color: white;
}
#layout1 .timKiem .btn_timKiem {
    width: 100%;
    height: 50px;
    text-align: left;
    background: none;
    border: 1px solid #737373;
}
#layout1 .noiDungGioHang .fa-shopping-cart{
    font-size: 40px;
    margin-left: 740px;
}
#layout1 .timKiem .btn_thongTin {
    width: 100%;
    height: 50px;
    text-align: left;
    background: none;
    border: 1px solid #737373;
}
#layout1 .timKiem .btn_thongTin h2 {
    font-size: 20px;
}
#layout7 .thanhDuoi {
    width: 100%;
    height: 500px;
    background: darkturquoise;
    margin-top: 50px;
}
#layout7 .thanhDuoi .tenWeb{
    margin-left: 30px;
    float: left;
    clear: right;
    width: 300px;
    margin-right: 70px;
}
#layout7 .thanhDuoi .tenWeb .hotline .fa-phone-square {
    float: left;
    clear: right;
    font-size: 200%;
    margin-right: 10px;
}
#layout7 .thanhDuoi .tenWeb .hotline .line {
    font-size: 150%;
    color: white;
}

#layout7 .thanhDuoi .thongTin{
    float: left;
    clear: right;
    margin-right: 50px;
}
#layout7 .thanhDuoi .thongTin .right .fa{
    float : left;
    clear: right;
    margin-right: 10px;
}
#layout7 .thanhDuoi .thongTin .right .noiDung{
    margin-left: 20px;
}
#layout7 .thanhDuoi .NoiDung .hoTro .chucNang{
    float: left;
    clear: right;
    margin-right: 100px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left{
    float: left;
    clear: right;
    margin-top: 220px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left{
    float: left;
    clear: right;
    margin-left: -1450px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left .mang{
    border-radius: 100px;
    margin-right: 10px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .right{
    float: left;
    clear: right;
    margin-left: -1450px;
    margin-top: 110px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .right .mang{
    border-radius: 5px;
    margin-right: 10px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .nhanTin {
    float: left;
    clear: right;
    margin-right: 30px;
    margin-left: 200px;
    margin-top: 50px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from {
    float: left;
    clear: right;
    width: 400px;
    height: 50px;
    background: white;
    margin-top: 100px;
    border-radius: 10px;
    margin-left: -310px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from .dangKi{
    float: left;
    clear: right;
    width: 120px;
    height: 50px;
    background: blue;
    color: white;
    margin-top: -50px;
    border-radius: 10px;
    margin-left: 420px;
    font-size: 190%;
}