
#Thanh_cong_cu{
    background: darkturquoise;
    width: 100%;
    height: 80px;
}
#Thanh_cong_cu input[type="text"] {
    width: 500px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    outline:none;
    padding: 12px 14px;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}
#Thanh_cong_cu #Ten_Web{
    float: left;
    margin-left: 35px;
}
#Thanh_cong_cu #Tim_Kiem{
    float: left;
    margin-left: 0px;
    margin-top: 21px;
}
#Thanh_cong_cu #Hotline .fa-phone-square{
    float: left;
    font-size: 35px;
    margin-left: 45px;
    margin-top: 28px;
}
#Thanh_cong_cu #Hotline #chu_HotLine{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 100%;
}
#Thanh_cong_cu #TaiKhoan .fa-user-circle{
    float: left;
    font-size: 35px;
    margin-left: 45px;
    margin-top: 28px;
}
#Thanh_cong_cu #TaiKhoan #dangNhap_dangKy{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 100%;
}
#Thanh_cong_cu #gioHang .fa-shopping-cart{
    float: left;
    font-size: 35px;
    margin-left: 45px;
    margin-top: 28px;
}
#Thanh_cong_cu #gioHang #chu_giohang{
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 100%;
}
#trangChu_DanhMuc   {
    border: 1px solid black;
    width: 100%;
    height: 50px;
    background: lightcyan;
}
#trangChu_DanhMuc #danhMuc {
    float: left;
    clear: right;
    margin-left: 50px;
    margin-top: 4px;
}
#trangChu_DanhMuc #danhMuc #anh_danhMuc {
    float: left;
    clear: right;
    margin-left: 150px;
    margin-top: -3px;
    width: 50px;
    height: 45px;
}
#trangChu_DanhMuc #danhMuc #chu_DanhMuc {
    float: left;
    clear: right;
    margin-left: 10px;
    margin-top: 0px;
    border: 1px solid lightcyan;
}
#trangChu_DanhMuc #trangchu {
    float: left;
    clear: right;
    margin-left: 80px;
}
#trangChu_DanhMuc #trangchu .chu{
    margin-top: 2px;
    border: 1px solid lightcyan;
}
#trangChu_DanhMuc #heThongCuaHang {
    float: left;
    clear: right;
    margin-left: 50px;
    border: 1px solid lightcyan;
}
#trangChu_DanhMuc #heThongCuaHang .chu{
    margin-top: 2px;
    border: 1px solid lightcyan;
}
#trangChu_DanhMuc #tinTuc {
    float: left;
    clear: right;
    margin-left: 50px;
    border: 1px solid lightcyan;
}
#trangChu_DanhMuc #tinTuc .chu{
    margin-top: 2px;
    border: 1px solid lightcyan;
}
#trangChu_DanhMuc #lienHe {
    float: left;
    margin-left: 50px;
    border: 1px solid lightcyan;
}
#trangChu_DanhMuc #lienHe .chu{
    margin-top: 2px;
    border: 1px solid lightcyan;
}
#trangKhung   {
    width: 100%;
    height: 500px;
    margin: -12px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Tahoma, serif;
    font-size: 14px;
    color: black;
    line-height: 1.15;
    overflow: auto;
}
#wrapper{
    max-width: 1170px;
    margin: 0 auto;
}
.headline{
    text-align: center;
    margin: 40px 0px;
}
h3{
    font-size: 18px;
    color: black;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
    color: #555;
    font-weight: 600;

}
ul.products{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul.products li{
    flex-basis:  25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;


}
ul.products li img {
    max-width: 100%;
    height: auto;
}
ul.products li .product-top {
    position: relative;
    overflow: hidden;
}
ul.products li .product-top .product-thumb {
    display: block;
}
ul.products li:hover .product-top .product-thumb img{
    filter: opacity(80%);
}
ul.products li .product-top .product-thumb img{
    display: block;
    width: 480px;
    height: 320px;
}
ul.products li .product-top a.buy-now {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #1fb5d4;
    color: aliceblue;
    bottom:50px;
    padding: 10px 0px;
    position: absolute;

    width: 100%;
    transition: 0.25s ease-in-out;
    opacity:0.85;
}
ul.products li:hover{
    bottom: 0px;
}

ul.products li .product-info{
    padding: 10px 0px;
}
ul.products li .product-info a.product-info a{
    display: block;
    text-decoration: none;

}
ul.products li .product-info a {
    line-height: 16px;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    color: #666666;
}
ul.products li .product-info a.product-name a{
    color: black;
    padding: 3px 0px;
    text-decoration: underline;


}
ul.products li .product-info a.product-price a{
    color: red;
    padding: 2px 0px;
    font-weight: 600;

}
#tinTuc_3 {
    margin-top: 100px;
}
#tinTuc_3 .thanhKe{
    width: 400px;
    text-align: center;
}
#tinTuc_3 .thanhKe1{
    width: 600px;
    text-align: center;
    margin-bottom: 30px;
}
#tinTuc_3 #chu_TinTuc{
    text-align: center;
}
#tinTuc_3 #chu_TinTuc .chu {
    font-size: 200%;
    color: darkturquoise;
}
#tinTuc_3 #chu_TinTuc .nd {
    margin-top: -20px;
}
#tinTuc_3 #khung .tinTucMoiNhat {
    float: left;
    clear: right;
    border: 1px solid lightskyblue;
    width: 30%;
    height: 480px;
    margin-right: 20px;
    margin-left: 25px;
}
#tinTuc_3 #khung .tinTucMoiNhat .anhTinTucMoiNhat{
    width: 100%;
    height: 300px;
}
#tinTuc_3 #khung .tinTucMoiNhat .xemThem{
    box-shadow: 0 2px black;
    width: 17%;
}

#layout7 .thanhDuoi {

    width: 100%;
    height: 500px;
    background: darkturquoise;
    margin-top: 580px;
}
#layout7 .thanhDuoi .tenWeb{
    margin-left: 30px;
    float: left;
    clear: right;
    width: 300px;
    margin-right: 70px;
}
#layout7 .thanhDuoi .tenWeb .hotline .fa-phone-square {
    float: left;
    clear: right;
    font-size: 200%;
    margin-right: 10px;
}
#layout7 .thanhDuoi .tenWeb .hotline .line {
    font-size: 150%;
    color: white;
}

#layout7 .thanhDuoi .thongTin{
    float: left;
    clear: right;
    margin-right: 50px;
}
#layout7 .thanhDuoi .thongTin .right .fa{
    float : left;
    clear: right;
    margin-right: 10px;
}
#layout7 .thanhDuoi .thongTin .right .ten{
    margin-top: -10px;
    border: 1px solid darkturquoise;
 }
#layout7 .thanhDuoi .thongTin .right .noiDung{
    margin-left: 20px;
    margin-top: -10px;
}
#layout7 .thanhDuoi .NoiDung .hoTro .chucNang{
    float: left;
    clear: right;
    margin-right: 100px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left{
    float: left;
    clear: right;
    margin-top: 220px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left{
    float: left;
    clear: right;
    margin-left: -1450px;
    margin-bottom: 150px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left .ten{
    float: left;
    clear: right;
    margin-top: -50px;
    border: 1px solid darkturquoise;
    margin-left: 45px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left .left_mang{
    float: left;
    clear: right;
    margin-left: -250px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left .mang{
    float: left;
    clear: right;
    border-radius: 100px;
    margin-right: 10px;
}


#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left2{
    float: left;
    clear: right;
    margin-left: -1450px;
    margin-top: 150px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left2 .ten{
    float: left;
    clear: right;
    margin-top: -50px;
    border: 1px solid darkturquoise;
    margin-left: 50px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left2 .left_mang{
    float: left;
    clear: right;
    margin-left: -150px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left2 .mang{
    float: left;
    clear: right;
    border-radius: 100px;
    margin-right: 10px;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .right{
    float: left;
    clear: right;
    margin-left: -1450px;
    margin-top: 110px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .right .mang{
    border-radius: 5px;
    margin-right: 10px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .nhanTin {
    float: left;
    clear: right;
    margin-right: 30px;
    margin-left: 200px;
    margin-top: 50px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from {
    float: left;
    clear: right;
    width: 400px;
    height: 50px;
    background: white;
    margin-top: 100px;
    border-radius: 10px;
    margin-left: -310px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from .dangKi{
    float: left;
    clear: right;
    width: 120px;
    height: 35px;
    background: blue;
    color: white;
    margin-top: -50px;
    border-radius: 10px;
    margin-left: 420px;
    font-size: 190%;
}