#trangKhung   {
    width: 100%;
    height: 500px;
    margin: -1px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Tahoma, serif;
    font-size: 14px;
    color: black;
    line-height: 1.15;

}
#wrapper{
    max-width: 1170px;
    margin: 0 auto;
}
.headline{
    text-align: center;
    margin: 40px 0px;
}
h3{
    font-size: 18px;
    color: black;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
    color: #555;
    font-weight: 600;

}
ul.products{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul.products li{
    flex-basis:  25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;


}
ul.products li img {
    max-width: 100%;
    height: auto;
}
ul.products li .product-top {
    position: relative;
    overflow: hidden;
}
ul.products li .product-top .product-thumb {
    display: block;
}
ul.products li:hover .product-top .product-thumb img{
    filter: opacity(80%);
}
ul.products li .product-top .product-thumb img{
    display: block;
    width: 480px;
    height: 320px;
}
ul.products li .product-top a.buy-now {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #1fb5d4;
    color: aliceblue;
    bottom:50px;
    padding: 10px 0px;
    position: absolute;

    width: 100%;
    transition: 0.25s ease-in-out;
    opacity:0.85;
}
ul.products li:hover{
    bottom: 0px;
}

ul.products li .product-info{
    padding: 10px 0px;
}
ul.products li .product-info a.product-info a{
    display: block;
    text-decoration: none;

}
ul.products li .product-info a {
    line-height: 16px;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    color: #666666;
}
ul.products li .product-info a.product-name a{
    color: black;
    padding: 3px 0px;
    text-decoration: underline;


}
ul.products li .product-info a.product-price a{
    color: red;
    padding: 2px 0px;
    font-weight: 600;

}
#layout4  {
    width: 100%;
    background: white;
    height: 200px;

}
#layout4  .layout4_danhMucSanPham{
    float: left;
    clear: right;
    margin-left: 13px;
    margin-right: 15px;
    width: 18%;
    height: 200px;
    border: 1px solid mediumturquoise;

}
#layout4  .layout4_danhMucSanPham .danhMucSanPham .anh{
    width: 18%;
    height: 200px;
    position: absolute;
    z-index: 1;
}
#layout4  .layout4_danhMucSanPham .danhMucSanPham .noiThat {
    position: absolute;
    z-index: 2;
    margin-top: 80px;
    color: white;
    text-align: center;
}
#layout4  .layout4_danhMucSanPham .danhMucSanPham .noiThat .tenNoiThat{
    text-align: center;
    font-size: 170%;
}
#layout4  .layout4_danhMucSanPham .danhMucSanPham .noiThat .noiDung{
    margin-top: 10px;

}
#layout7 .thanhDuoi {
    width: 100%;
    height: 500px;
    background: darkturquoise;
    margin-top: 50px;
}
#layout7 .thanhDuoi .tenWeb{
    margin-left: 30px;
    float: left;
    clear: right;
    width: 300px;
    margin-right: 70px;
}
#layout7 .thanhDuoi .tenWeb .hotline .fa-phone-square {
    float: left;
    clear: right;
    font-size: 200%;
    margin-right: 10px;
}
#layout7 .thanhDuoi .tenWeb .hotline .line {
    font-size: 150%;
    color: white;
}

#layout7 .thanhDuoi .thongTin{
    float: left;
    clear: right;
    margin-right: 50px;
}
#layout7 .thanhDuoi .thongTin .right .fa{
    float : left;
    clear: right;
    margin-right: 10px;
}
#layout7 .thanhDuoi .thongTin .right .noiDung{
    margin-left: 20px;
}
#layout7 .thanhDuoi .NoiDung .hoTro .chucNang{
    float: left;
    clear: right;
    margin-right: 100px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left{
    float: left;
    clear: right;
    margin-top: 220px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left{
    float: left;
    clear: right;
    margin-left: -1450px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left .mang{
    border-radius: 100px;
    margin-right: 10px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .right{
    float: left;
    clear: right;
    margin-left: -1450px;
    margin-top: 110px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .right .mang{
    border-radius: 5px;
    margin-right: 10px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .nhanTin {
    float: left;
    clear: right;
    margin-right: 30px;
    margin-left: 200px;
    margin-top: 50px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from {
    float: left;
    clear: right;
    width: 400px;
    height: 50px;
    background: white;
    margin-top: 100px;
    border-radius: 10px;
    margin-left: -310px;
}
#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from .dangKi{
    float: left;
    clear: right;
    width: 120px;
    height: 50px;
    background: blue;
    color: white;
    margin-top: -50px;
    border-radius: 10px;
    margin-left: 420px;
    font-size: 190%;
}