body{
    margin: 0 ;
    overflow: auto;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#Thanh_cong_cu{
    background: darkturquoise;
    width: 100%;
    height: 80px;
}
#Thanh_cong_cu input[type="text"] {
    width: 500px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    outline:none;
    padding: 12px 14px;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}
#Thanh_cong_cu #Ten_Web{
    float: left;
    margin-left: 35px;
}
#Thanh_cong_cu #Tim_Kiem{
    float: left;
    margin-left: 0px;
    margin-top: 21px;
}
#Thanh_cong_cu #Hotline .fa-phone-square{
    float: left;
    font-size: 35px;
    margin-left: 45px;
    margin-top: 28px;
}
#Thanh_cong_cu #Hotline #chu_HotLine{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 100%;
}
#Thanh_cong_cu #TaiKhoan .fa-user-circle{
    float: left;
    font-size: 35px;
    margin-left: 45px;
    margin-top: 28px;
}
#Thanh_cong_cu #TaiKhoan #dangNhap_dangKy{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 100%;
}
#Thanh_cong_cu #gioHang .fa-shopping-cart{
    float: left;
    font-size: 35px;
    margin-left: 45px;
    margin-top: 28px;
}
#Thanh_cong_cu #gioHang #chu_giohang{
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 100%;
}
#trangChu_DanhMuc   {
    border: 1px solid black;
    width: 100%;
    height: 50px;
    background: lightcyan;
}
#trangChu_DanhMuc #danhMuc {
    float: left;
    clear: right;
    margin-left: 50px;
    margin-top: 4px;
}
#trangChu_DanhMuc #anh_danhMuc {
    float: left;
    clear: right;
    margin-left: 150px;
    margin-top: -11px;
    width: 50px;
    height: 45px;
}
#trangChu_DanhMuc #chu_DanhMuc {
    float: left;
    clear: right;
    margin-left: 10px;
    margin-top: 0px;
}
#trangChu_DanhMuc #trangchu {
    float: left;
    clear: right;
    margin-left: 80px;
    margin-top: -15px;
}
#trangChu_DanhMuc #heThongCuaHang {
    float: left;
    clear: right;
    margin-left: 50px;
    margin-top: -15px;
}
#trangChu_DanhMuc #tinTuc {
    float: left;
    clear: right;
    margin-left: 50px;
    margin-top: -15px;
}
#trangChu_DanhMuc #lienHe {
    float: left;
    margin-left: 50px;
    margin-top: -15px;
}
#trangKhung   {
    width: 100%;
    height: 500px;
    margin: -1px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Tahoma, serif;
    font-size: 14px;
    color: black;
    line-height: 1.15;

}
#wrapper{
    max-width: 1170px;
    margin: 0 auto;
}
.headline{
    text-align: center;
    margin: 40px 0px;
}
h3{
    font-size: 18px;
    color: black;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
    color: #555;
    font-weight: 600;

}
ul.products{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul.products li{
    flex-basis:  25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;


}
ul.products li img {
    max-width: 100%;
    height: auto;
}
ul.products li .product-top {
    position: relative;
    overflow: hidden;
}
ul.products li .product-top .product-thumb {
    display: block;
}
ul.products li:hover .product-top .product-thumb img{
    filter: opacity(80%);
}
ul.products li .product-top .product-thumb img{
    display: block;
    width: 480px;
    height: 320px;
}
ul.products li .product-top a.buy-now {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #1fb5d4;
    color: aliceblue;
    bottom:50px;
    padding: 10px 0px;
    position: absolute;

    width: 100%;
    transition: 0.25s ease-in-out;
    opacity:0.85;
}
ul.products li:hover{
    bottom: 0px;
}

ul.products li .product-info{
    padding: 10px 0px;
}
ul.products li .product-info a.product-info a{
    display: block;
    text-decoration: none;

}
ul.products li .product-info a {
    line-height: 16px;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    color: #666666;
}
ul.products li .product-info a.product-name a{
    color: black;
    padding: 3px 0px;
    text-decoration: underline;


}
ul.products li .product-info a.product-price a{
    color: red;
    padding: 2px 0px;
    font-weight: 600;

}